*
!mods
!mods/*
!.gitignore
!UpdatePack.ps1
!Usage.png
!PackChoose.webp
!config/
!config/axesareweapons.json5
!config/boathud-nfs.json
!config/dynamiclights.json
!config/sharpness6.json
!config/fallingtree.json
!config/invmove.json
!config/wheelbarrow.json
!config/fwaystones
!config/fwaystones/config.json5
!config/inventoryprofilesnext/
!config/inventoryprofilesnext/inventoryprofiles.json